.order-history-div {
	padding: 2rem;
	width: 100%;

	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
}

.order-table {
	tr .order-id a {
		text-decoration: underline;
		color: var(--custom-blue);
	}
	.order-id a:hover {
		color: var(--rose);
	}
}

/* Styles for the orders table */
.order-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.order-table th,
.order-table td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

.order-table th {
	background-color: #f2f2f2;
	color: #333333;
}

.order-table tbody tr:hover {
	background-color: #f5f5f5;
}

.order-table .order-id a {
	color: #007bff;
	text-decoration: none;
}

.order-table .order-id a:hover {
	text-decoration: underline;
}
